.gallery {
  margin: 10px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  figure {
    margin: 1px 4px;
    a {
      text-decoration: none;

      img {
        height: 300px;
      }
    }

    figcaption {
      display: none;
    }
  }
}

.pswp__caption__center {
  text-align: center !important;
}
