@import './variables';

.home {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 75px);

  &-left-menu {
    flex-direction: column;
    background-color: $secondary-color;
  }

  .menu {
    padding-top: 15px;

    transition: .4s ease-in-out;
    position: relative;

    width: $side-menu-width;

    &-opened { left: 0 }

    &-closed {
      left: 42px - $side-menu-width;

      .menu-items { opacity: 0 }
    }

    &-items {
      transition: .2s ease-in-out;

      &-category {
        font-weight: bold;
        font-size: 24px;
        padding: 15px 0 5px 5px;
        text-transform: uppercase;
        color: $blue-color-1;
      }

      &-item {
        padding: 13px 0 10px 26px;

        a {
          text-decoration: none;
          color: $blue-color-3;
        }
      }

      &-item:hover {
        cursor: pointer;
        background-color: $secondary-color-1;
        border-left: 6px solid $blue-color-1;
        padding-left: 20px;

        a {
          color: $blue-color-1;
        }
      }
    }

    &-button {
      padding: 0 15px;
      width: calc(100% - 30px);
      display: flex;
      justify-content: flex-end;

      a {
        font-size: 30px;
        color: $blue-color-3;
      }

      a:hover {
        color: $blue-color-1;
      }
    }
  }
}
