@import './variables';

@font-face {
  font-family: 'Futura-Book';
  src: url('/static/fonts/Futura-Book.woff') format('woff');
}

*:not(.fa) {
  font-family: Futura-Book;
}

body {
  margin: 0;
}

header {
  background-color: $main-color-3;

  .menu {
    height: 75px;
    width: calc(100% - 200px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    &-logo {
      display: flex;
      overflow: hidden;

      a {
        padding-right: 10px;
      }
    }

    &-items {
      width: 820px;
      display: flex;
      padding: 8px 0 8px 0;

      a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-grow: 1;
        margin: 0;
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 18px;
      }

      a:hover {
        color: $text-menu-active;
        margin-top: 5px;
        border-bottom: 5px solid $text-menu-active;
      }
    }
  }
}
