$main-color: #635c4a;

$main-color-1: lighten( $main-color, 10% );
$main-color-2: lighten( $main-color, 20% );
$main-color-3: lighten( $main-color, 30% );
$main-color-4: lighten( $main-color, 35% );
$main-color-5: lighten( $main-color, 40% );
$main-color-6: lighten( $main-color, 45% );


$text-menu-hover: #ffffe0;
$text-menu-active: #0c4b33
