{% extends "layout.html" %}

{% load solo_tags %}
{% load sass_tags %}
{% load leaflet_tags %}


{% block extra_stylesheets %}
<link href="{% sass_src 'css/contact.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    {% get_solo 'vet_app.ClinicConfiguration' as clinic_config %}
    <div class="contact">
        <h1 class="contact-title">
            Contacts
        </h1>
        <ul>
            <li>Numéro de téléphone: {{ clinic_config.phone_number.as_national }}</li>
            <li>Email: {{ clinic_config.email }}</li>
            <li>Horaires d'ouverture:
                <ul>
                    {% for openinghour in clinic_config.opening_hours.all %}
                        <li>{{ openinghour }}</li>
                    {% endfor %}
                </ul>
            </li>
            <li>Urgences: 24h/24</li>
            <li>Adresse: {{ clinic_config.address }}</li>
        </ul>
        {% leaflet_map "clinic_map" callback="window.map_place_clinic_marker" %}
    </div>
{% endblock %}

{% block extra_scripts %}
    {% get_solo 'vet_app.ClinicConfiguration' as clinic_config %}
    <script type="text/javascript">
        var coordinates = {{ clinic_config.map_marker.coordinates | safe }};

        function map_place_clinic_marker(map, options) {
            if (coordinates) {
                var reverted_coordinates = [
                    // for somme reason, coordinates are inverted
                    coordinates[1],
                    coordinates[0],
                ];

                L.marker(reverted_coordinates).addTo(map);
                map.setView(reverted_coordinates, 8);
            }
        }
    </script>
{% endblock %}
