{% extends "layout.html" %}

{% load static %}

{% block extra_stylesheets %}
{% load sass_tags %}
<link href="{% sass_src 'css/home.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div class="home">
        <div class="home-left-menu menu">
            {% load vet_extras %}
            {% service_menu %}
        </div>
        <div class="home-content">
            <img src="{% static 'images/weblogo.png' %}" />
            {% block sub_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
