{% load static %}
{% load sass_tags %}
{% load solo_tags %}
{% load leaflet_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                {% get_solo 'vet_app.ClinicConfiguration' as clinic_config %}
                {{ clinic_config.name }}
            {% endblock %}
        </title>
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
        <link href="{% sass_src 'css/main.scss' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'js/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
        {% leaflet_js %}
        {% leaflet_css %}
        {% block extra_stylesheets %}{% endblock %}
        <script type="text/javascript" src="{% static 'js/lib/jquery/dist/jquery.min.js' %}"></script>
        {% block extra_scripts %}{% endblock %}
    </head>
    <body>
        {% load vet_extras %}
        {% vet_header %}
        {% block content %}{% endblock %}
    </body>
</html>
