<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Clinique Vétérinaire de la Braye{% endblock %}</title>
        {% block extra_stylesheets %}
        {% load sass_tags %}
        <link href="{% sass_src 'css/main.scss' %}" rel="stylesheet" type="text/css" />
        {% endblock %}
    </head>
    <body>
        {% load vet_extras %}
        {% vet_header %}
        {% block content %}{% endblock %}
        {% block extra_scripts %}{% endblock %}
    </body>
</html>
