{% extends "layout.html" %}

{% block extra_stylesheets %}
{% load sass_tags %}
<link href="{% sass_src 'css/news.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div class="news">
        {% for item in news %}
        <div class="news-item">
            <h1>
                {{ item.title }}
            </h1>
            <div class="my-ckeditor-content">
                {% autoescape off %}{{ item.content }}{% endautoescape %}
            </div>
            <hr/>
        </div>
        {% endfor %}
    </div>
{% endblock %}
