<div class="menu-items">
    {% for services_category in services %}
        <div class="menu-items-category">
            <span class="far fa-folder-open"></span>
            {{ services_category.category }}
        </div>
        {% for service in services_category.services %}
            <a
                class="menu-items-item {% if selected_service_id == service.id %} selected{% endif %}"
                href="{% url 'vet_app:services' service.id %}"
            >
                {{ service.title }}
            </a>
        {% endfor %}
    {% endfor %}
</div>
